<section class="welcome">
  <div class="container1">
    <div class="row1">
      <div class="welcome-text">
        <h1>Citas de tu mascotas</h1>
        <p>Echa un vistzo a todas las citas que han tenido tus mascotas y el detalle de estas</p>      </div>
      <div class="home-img">
        <div class="img-pet">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, class: "card-img-top" %>
          <% else %>
            <%= image_tag "pet.jpg" %>
          <% end %>
        </div>
      </div>
    </div>
    <%= image_tag 'doodle-4.png', class: 'doodles doodles-1' %>
    <%= image_tag 'doodle-3.png', class: 'doodles doodles-2' %>
  </div>
</section>


<div class="container mt-5">
  <div class="row d-flex">
    <% @cares.each do |care| %>
      <div class="col-lg-4">
        <div class="carding mb-2">
          <div class="carding-body mt-2 pt-0">
            <div class="widget-49">
              <div class="general-info">
                <div class="schedule">
                  <span class="date-day"><%= care.created_at.day %></span>
                  <span class="date-month"><%= care.created_at.month %></span>
                </div>
                <div class="info-care">
                  <span class="title">Care: <%= care.title %></span>
                  <span class="category">Category: <%= care.category %></span>
                </div>
              </div>
              <ol class="info-list">
                <li class="info-pet"><span>Pet: <%= Pet.find(care.pet_id).name %></span></li>
                <li class="info-pet"><span>Status: <%= care.status %></span></li>
              </ol>
              <div class="d-flex justify-content-between">
                <div class="d-flex justify-content-between">
                  <% if care.status == 'scheduled' %>
                    <%= button_to 'Done', care_path(care), method: :patch, params: { status: 'done' }, class: "btn btn-info ms-3"  %>
                    <%= link_to 'Reschedule', edit_care_path(care), class: "btn btn-info mb-3 ms-3"  %>
                  <% end %>
                </div>
                <div class="redirect">
                  <%= link_to 'View more', care_path(care), class: 'btn btn-sm btn-flash-border-primary' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= link_to "New Care", new_care_path , class: "btn btn-danger ms-2" %>

<hr>

<div class='d-flex justify-content-center mb-3'>
  <div id='map' style='width: 600px; height: 300px;'
  data-controller="map"
  data-map-api-key-value="pk.eyJ1IjoianVhbmNydiIsImEiOiJjbDl3eTByenowMWxqM3JxbDlqdDlscHN2In0.3NQA3MupOkea8XBC4Iz7TA">
  </div>
</div>
