<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <% @cares.each do |care| %>
      <div class="col-lg-4">
        <div class="carding mb-2">
          <div class="carding-body mt-2 pt-0">
            <div class="widget-49">
              <div class="general-info">
                <div class="schedule">
                  <span class="date-day"><%= care.created_at.day %></span>
                  <span class="date-month"><%= care.created_at.month %></span>
                </div>
                <div class="info-care">
                  <span class="title">Care: <%= care.title %></span>
                  <span class="category">Category: <%= care.category %></span>
                </div>
              </div>
              <ol class="info-list">
                <li class="info-pet"><span>Pet: <%= Pet.find(care.pet_id).name %></span></li>
                <li class="info-pet"><span>Status: <%= care.status %></span></li>
              </ol>
              <div class="d-flex justify-content-between">
                <div class="d-flex justify-content-between">
                  <% if care.status == 'scheduled' %>
                    <%= button_to 'Done', care_path(care), method: :patch, params: { status: 'done' }, class: "btn btn-info ms-3"  %>
                    <%= link_to 'Reschedule', edit_care_path(care), class: "btn btn-info mb-3 ms-3"  %>
                  <% end %>
                </div>
                <div class="redirect">
                  <%= link_to 'View more', care_path(care), class: 'btn btn-sm btn-flash-border-primary' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= link_to "New Care", new_care_path , class: "mx-2" %>
