<div class="places-info text-center" style="margin-top: 7%;">
  <h1 style="font-weight: 600;">Your appointments</h1>
  <p style="font-size: 20px">Find all your pending appointments here</p>
</div>

<div class="container" style="width: 600px;">
  <%= form_with url: cares_path, method: :get, class: "mt-5 d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Search a care by title"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>

<br><br>

<div class="container">
  <div class="row row-cols-3">

    <% @cares.each do |care| %>

      <%= link_to care_path(care) do %>
        <div class="col">
          <div class="card-product mb-3 ms-3">
            <% if Pet.find(care.pet_id).photo.attached? %>
              <%= cl_image_tag Pet.find(care.pet_id).photo.key, class: "card-img-top" %>
            <% else %>
              <%= image_tag "pet.jpg", size: "auto", class: "card-img-top"%>
            <% end %>

            <div class="card-product-infos">
              <h5 style="width: 230px; background-color: #ffc107; padding-left: 4px;"><%= care.title %></h5>
              <p><strong>Category:</strong> <%= care.category %></p>
              <p><%= care.details %></p>
            </div>
          </div>
        </div>
      <% end %>

    <% end %>

  </div>
</div>


<hr>

<%= link_to "New Care", new_care_path , class: "btn btn-danger ms-5" %>
