<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">

<div class="container mt-5">
  <%= simple_form_for @care do |f| %>
    <div class="form-inputs">
      <div class="form-field">
        <%= f.association :pet, label: 'I want this Care for 👇', as: :check_boxes, collection: @pets, input_html: { class: "tag-selector" }, item_wrapper_class: 'tag-item' %>
        <%= f.input :category, collection: CATEGORIES, selected: 1, class: "input-text"%>
        <%= f.input :title, collection: CARES, selected: 1, class: "input-text"%>
        <%= f.input :schedule, as: :string, required: true, input_html: {class: "datepicker"} %>
        <%= f.input :details %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit, 'Schedule!', class: 'btn btn-info' %>
    </div>
  <% end %>
</div>

