

<div class="care-container">
  <div class="d-flex ms-5">

    <div>
      <% if @pet.photo.attached? %>
        <%= cl_image_tag @pet.photo.key, class: "card-img-care" %>
      <% else %>
        <%= image_tag "pet.jpg", size: "auto", class: "card-img-care"%>
      <% end %>
      <div class="btn-container">
        <%= button_to 'Done', care_path(@care), method: :patch, params: { status: 'done' }, class: "btn btn-info br10"  %>
        <%= link_to "Delete", care_path(@care), data: {turbo_method: :delete}, class:"btn btn-danger br10"%>
      </div>
    </div>

    <div class="care-info-container">
      <h2 class="dark-color"><%= @care.title %></h2>
      <h6 class="theme-color lead">Categoria: <%= @care.category %></h6>
      <p><%= @care.details %></p>

      <div>
        <%= simple_form_for @care do |f| %>
          <div class="form-inputs">
            <div class="form-field" style="width: 500px;">
              <%= f.association :place, label: 'Set a place for this care 👇', as: :select, collection: Place.all, placeholder: 'Select a place' %>
            </div>
          </div>

          <div class="text-end form-actions">
            <%= f.button :submit, 'Save', class: 'btn btn-info br10' %>
          </div>
        <% end %>

        <div class="home-button">
          <%= link_to 'Back to list', cares_path, class: 'btn effect effect-4' %>
        </div>
      </div>
    </div>
  </div>
</div>
