

<div class="care-container">
  <div class="d-flex ms-5">

    <div>
      <% if @pet.photo.attached? %>
        <%= cl_image_tag @pet.photo.key, height: 400, class: "card-img-care" %>
      <% else %>
        <%= image_tag "pet.jpg", size: "auto", class: "card-img-care"%>
      <% end %>


      <div class="btn-container">

        <% if @care.status == 'scheduled' || (@care.status == 'missed' && @care.schedule > Time.now) %>
          <%= button_to 'Done', care_path(@care), method: :patch, params: { status: 'done' }, class: "btn btn-info"  %>
        <% end %>
        <%= link_to "Delete", care_path(@care), data: {turbo_method: :delete}, class:"btn btn-danger"%>
      </div>
    </div>



    <% if @care.status == 'missed' && @care.schedule < Time.now %>



    <div class="care-info-container">

    <h1>Ups!!! You missed It 🧐</h1>


        <div class="home-button-missed">
        <%= link_to "Reschedule", edit_care_path(@care), class:"btn btn-info br10" %>

        </div>
      </div>




    <% elsif @care.status == 'scheduled' || (@care.status == 'missed' && @care.schedule > Time.now) %>


     <div class="care-info-container">
      <h2 class="dark-color"><%= @care.title %></h2>
      <h6 class="theme-color lead">Categoria: <%= @care.category %></h6>
      <p><%= @care.details %></p>

      <div>
        <%= simple_form_for @care do |f| %>
          <div class="form-inputs">
            <div class="form-field" style="width: 500px;">
              <%= f.association :place, label: 'Set a place for this care 👇', as: :select, collection: Place.all, placeholder: 'Select a place' %>
            </div>
          </div>

          <div class="text-end form-actions">
            <%= f.button :submit, 'Save', class: 'btn btn-info br10' %>
          </div>
        <% end %>

      </div>
    </div>

    <% else %>

 <div class="care-info-container">
      <h2 class="dark-color"><%= @care.title %></h2>
      <h6 class="theme-color lead">Categoria: <%= @care.category %></h6>
      <p><%= @care.details %></p>

    </div>

    <% end %>






  </div>
</div>

<hr>

<%= link_to 'Back to list', cares_path, class: 'home-button ms-5 btn btn-success' %>
