<section class="section about-section gray-bg" id="about">
  <div class="container">
    <div class="row ">
      <div class = "row featurette align-items-center ">
        <% unless  @cares.length == 0%>
          <div class = "col-md-7 align-items-center">
            <div class="align-items-center">
              <div class="about-text go-to">
                <h3 class="dark-color text-center"><%= @pet.name %></h3>
                <h6 class="theme-color lead text-center"><%= @pet.specie %></h6>
                <div class="row about-list">
                  <div class="col-md-6 text-center">
                    <div class="media">
                      <label>Birthday</label>
                      <p><%= @pet.birthday %></p>
                    </div>
                    <div class="media">
                      <label>Weight</label>
                      <p><%= @pet.weight %> <%= @pet.weight_unit %></p>
                    </div>
                    <div class="media">
                      <label>Breed</label>
                      <p><%= @pet.breed %></p>
                    </div>
                  </div>
                  <div class="col-md-6 text-center">
                    <% @cares.each do |care| %>
                      <div class="media">
                        <p><label><%= care.title %></label> <%= care.schedule %></p>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% else %>
          <div class = "col-md-7 align-items-center">
            <div class="align-items-center">
              <div class="about-text go-to">
                <h3 class="dark-color text-center"><%= @pet.name %></h3>
                <h6 class="theme-color lead text-center"><%= @pet.specie %></h6>
                <div class="row about-list">
                  <div class="text-center">
                    <div class="media">
                      <label>Birthday</label>
                      <p class="max-width-cancel"><%= @pet.birthday %></p>
                    </div>
                    <div class="media">
                      <label>Weight</label>
                      <p class="max-width-cancel"><%= @pet.weight %> <%= @pet.weight_unit %></p>
                    </div>
                    <div class="media">
                      <label>Breed</label>
                      <p class="max-width-cancel"><%= @pet.breed %></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>      
          </div>
        <% end %>
          <div class = "col-md-5">
            <div class="align-items-center">
              <div class="about-avatar">
                <% if @pet.photo.attached? %>
                  <%= cl_image_tag @pet.photo.key, class: "card-img-top ", style: "border-radius: 5%"  %>
                <% else %>
                  <%= image_tag "pet.jpg", size: "auto", style: "border-radius: 5%", class: "card-img-top"%>
                <% end %>
              </div>
              <div class = "row">
                <div class = "col">
                </div>
              <div class = "col">
                <%= link_to "New Care", new_care_path , class: "btn btn-info ms-3" %>
              </div>
              <div class = "col">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%= link_to 'Return to pets', pets_path, class: 'btn-primary' %>
