
  <div class="background">
    <section class="bg-color">
      <div class="details-container">
        <div class="row align-items-center">
          <div class="col-md-7 align-items-center">
            <div class="row details-pet">
              <h3 class="name-pet"><%= @pet.name %></h3>
              <h6 class="breed-pet"><%= @pet.breed %></h6>
            </div>
            <div class="row info-section">
              <div class="col-md-6 text-center">
                <label>Birthday</label>
                <p><%= @pet.birthday %></p>
              </div>
              <div class="col-md-6 text-center">
                <label>Breed</label>
                <p><%= @pet.breed %></p>
              </div>
              <div class="col-md-6 text-center">
                <label>Weight</label>
                <p><%= @pet.weight %> <%= @pet.weight_unit %></p>
              </div>
              <div class="col-md-6 text-center">
                <%# aca iran los cuidados %>
                <%# pues no puse los cuidados aqui y de igual manera qudaron bien para mi gusto xD %>
              </div>
            </div>
            <span></span>
            <div class="row cares">
              <h6 class="pending-cares">Pending cares</h6>
              <% if @cares == 0 %>
                <p>Don't have any care yet</p>
              <% else %>
                <% @cares.each do |care| %>
                <div class="col-md-4">
                  <%= link_to care.title, care_path(care) %>
                </div>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class = "col-md-5">
            <div class="align-items-center">
              <div class="about-avatar">
                <% if @pet.photo.attached? %>
                  <%= cl_image_tag @pet.photo.key, class: "card-img-top ", style: "border-radius: 5%"  %>
                <% else %>
                  <%= image_tag "pet.jpg", size: "auto", style: "border-radius: 5%", class: "card-img-top"%>
                <% end %>
              <div class = "col">
                <%= link_to "New Care", new_care_path , class: "btn btn-info btn-margin" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>



