<header class="header">
  <div class="container">
    <div class="header-main">
      <div class="logo">
        <%= link_to root_path do %>
          <%= image_tag "icon.png" %>Dogtty
        <% end %>
      </div>
      <button class="nav-toggler js-nav-toggler">
        <span></span>
      </button>
      <nav class="nav js-nav">
        <ul>
          <% if user_signed_in? %>
            <li style="--item:1"><%= link_to "My pet's cares", cares_path %></li>
            <li style="--item:2"><%= link_to "My pets", pets_path %></li>
            <li style="--item:3"><%= link_to "My account", edit_user_registration_path %></li>
            <li style="--item:4"><%= link_to "Places", places_path %></li>
            <li style="--item:5"><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} %></li>
          <% else %>
            <li style="--item:5"><%= link_to "Login", new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>

<script>
// intento de hacer la funcionalidad de ver las mascotas

  var mainLi = document.querySelector('.js-li');
  var subLi = document.querySelector(".js-sub-li");

  mainLi.onclick = function () {
    subLi.classList.toggle("active");
  }
</script>

<script>
  var navToggler = document.querySelector('.js-nav-toggler');
  var nav = document.querySelector('.js-nav');

   function navToggle() {
     nav.classList.toggle("active");
     navToggler.classList.toggle("active");
   }

   navToggler.addEventListener("click", navToggle);


  document.addEventListener('click', (event) => {
    var isClickingInsideNav = nav.contains(event.target);
    var isClickingInsideNavToggler = navToggler.contains(event.target);
    if(!(isClickingInsideNav || isClickingInsideNavToggler) && nav.classList.contains("active")){
      navToggle();
    }
  });
</script>
