<header class="header">
  <div class="container">
    <div class="header-main">
      <div class="logo">
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag "icon.png" %>Dogtty
        <% end %>
      </div>
      <button class="nav-toggler js-nav-toggler">
        <span></span>
      </button>
      <nav class="nav js-nav">
        <ul>
          <% if user_signed_in? %>
            <li><%= link_to "My pet's cares", cares_path %></li>
            <li class="js-li"><a style="cursor: pointer;">My Pets</a></li>
              <ul class="sub-list">
                <% if current_user.pets == 0 %>
                  <p>no hay nada aun</p>
                  <%= link_to 'New Pet', new_pet_path, class: 'js-sub-li' %>
                <% else %>
                  <% current_user.pets.each do |pet| %>
                    <li class="sub-item js-sub-li"><%= link_to pet.name, pet_path(pet) %></li>
                    <%# <li class="sub-item js-sub-li2"><a href="#">pets</a></li> %>
                  <% end %>
                  <li><%= link_to 'New Pet', new_pet_path, class: 'js-sub-li' %></li>
                <% end %>
              </ul>
            <li><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} %></li>
          <% else %>
            <li><%= link_to "Login", new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>

<script>
// intento de hacer la funcionalidad de ver las mascotas

  var mainLi = document.querySelector('.js-li');
  var subLi = document.querySelector(".js-sub-li");

  mainLi.onclick = function () {
    subLi.classList.toggle("active");
  }
</script>

<script>
  var navToggler = document.querySelector('.js-nav-toggler');
  var nav = document.querySelector('.js-nav');

   function navToggle() {
     nav.classList.toggle("active");
     navToggler.classList.toggle("active");
   }

   navToggler.addEventListener("click", navToggle);


  document.addEventListener('click', (event) => {
    var isClickingInsideNav = nav.contains(event.target);
    var isClickingInsideNavToggler = navToggler.contains(event.target);
    if(!(isClickingInsideNav || isClickingInsideNavToggler) && nav.classList.contains("active")){
      navToggle();
    }
  });
</script>
