<header class="header">
  <div class="container">
    <div class="header-main">
      <div class="logo">
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag "icon.jpg" %>Dogtty
        <% end %>
      </div>
      <button class="nav-toggler js-nav-toggler">
        <span></span>
      </button>
      <nav class="nav js-nav">
        <ul>
          <% if user_signed_in? %>
            <li style="--item:1"><%= link_to "My pet's cares", cares_path %></li>
            <li style="--item:2"><%= link_to "My pets", pets_path %></li>
            <li style="--item:3"><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} %></li>
          <% else %>
            <li style="--item:4"><%= link_to "Login", new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>

<script>
  const navToggler = document.querySelector('.js-nav-toggler');
  const nav = document.querySelector('.js-nav');

  function navToggle() {
    nav.classList.toggle("active");
    navToggler.classList.toggle("active");
  }

  navToggler.addEventListener("click", navToggle);


  document.addEventListener('click', (event) => {
    const isClickingInsideNav = nav.contains(event.target);
    const isClickingInsideNavToggler = navToggler.contains(event.target);
    if(!(isClickingInsideNav || isClickingInsideNavToggler) && nav.classList.contains("active")){
      navToggle();
    }
  });
</script>
