<div class="container">
  <%= week_calendar(events: @cares, attribute: :schedule) do |date, cares| %>
    <%# <%= date %>
    <% cares.each do |care| %>
    <div>
      <% if Pet.find(care.pet_id).photo.attached? %>
        <%= cl_image_tag Pet.find(care.pet_id).photo.key, class: "avatar my-2" %>
      <% else %>
        <%= image_tag 'pet.jpg', size: "40px", class: "avatar my-2"  %>
      <% end %>
      <%= link_to care.title, cares_path(care)%>
    </div>
  <% end %>
  <% end %>
</div>
