<div class="mt-5">
  <%= week_calendar(number_of_weeks: 2) do |date| %>
    <%= date %>
  <% end %>

  <%= render "shared/navbar" %>
  <div class="banner">
    <div class="row">
      <div id="info" class="col-md-6 col-lg-6 text-white" data-aos="fade-right">
        <h1>Saving animals.</h1>
        <h1>Changing lives</h1>
        <p>Today can everyone help animals and make their lives better.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, amet sequi?</p>
        <%= link_to 'I want to help', "#", class: 'btn' %>
      </div>
      <div class="col-md-6 col-lg-5 ml-lg-auto mz-4 img-info" data-aos="zoom-in">
        <%= image_tag "owner.svg" %>
      </div>
    </div>
  </div>


  <section id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading mt-4">Nuestros Cuidados</h2>
        </div>
      </div>
    </div>

  <div class="row" style="justify-content: space-around;">

    <div class="card">
      <div class="content">
        <div class="profile">
          <%= image_tag "walking.svg", class: 'walking' %>
        </div>
        <h4>Paseos</h4>
      </div>
      <ul class="nav">
        <li><a href="#"><%= link_to 'Vacunaci칩n', new_care_path, params: {care: 'vaccunation'} %></a></li>
        <li><a href="#"><%= link_to 'Ba침os', new_care_path, params: CARES.last %></a></li>
        <li><a href="#">Poner link-to al form</a></li>
        <li><a href="#">Poner link-to al form</a></li>
      </ul>
      <div class="toggle">
        <ion-icon name="arrow-down-circle-outline"></ion-icon>
      </div>
    </div>

    <div class="card card2">
      <div class="content">
        <div class="profile">
          <%= image_tag "vaccine.png", class: 'walking' %>
        </div>
        <h4>Salud</h4>
      </div>
      <ul class="nav">
        <li><a href="#"><%= link_to 'Vacunaci칩n', new_care_path(@care, params: {care: 'vaccunation'})  %></li>
        <li><a href="#"><%= link_to 'Ba침os', new_care_path(@care, params: {care: 'shower'}) %></a></li>
        <li><a href="#">Poner link-to al form</a></li>
        <li><a href="#">Poner link-to al form</a></li>
      </ul>
      <div class="toggle toggle2">
        <ion-icon name="arrow-down-circle-outline"></ion-icon>
      </div>
    </div>

    <div class="card card3">
      <div class="content">
        <div class="profile">
          <%= image_tag "facepalm.svg", class: 'walking' %>
        </div>
        <h4>Belleza</h4>
      </div>
      <ul class="nav">
        <li><a href="#">Poner link-to al form</a></li>
        <li><a href="#">Poner link-to al form</a></li>
        <li><a href="#">Poner link-to al form</a></li>
        <li><a href="#">Poner link-to al form</a></li>
      </ul>
      <div class="toggle toggle3">
        <ion-icon name="arrow-down-circle-outline"></ion-icon>
      </div>
    </div>

  </div>

    <script>
      const card = document.querySelector(".card");
      const cardToggle = document.querySelector(".toggle");

      cardToggle.onclick = function () {
        card.classList.toggle("active");
      };

    </script>

    <script>
      const card2 = document.querySelector(".card2");
      const cardToggle2 = document.querySelector(".toggle2");

      cardToggle2.onclick = function () {
        card2.classList.toggle("active");
      };
    </script>

    <script>
      const card3 = document.querySelector(".card3");
      const cardToggle3 = document.querySelector(".toggle3");

      cardToggle3.onclick = function () {
        card3.classList.toggle("active");
      };
    </script>
  </section>

  <footer style="text-align: center;">
    <h5 class="mt-4">Hecho con <ion-icon name="heart-outline"></ion-icon> por el equipo de Doggty</h5>
    <%= link_to 'Conocenos', about_path, class: 'about' %>
    Todos los derechos reservados | Doggty 2022.
  </footer>

<%# opcional card design  %>
<div class="col-lg-12 main-container">
</div>
