<div class="places-info text-center" style="margin-top: 7%;">
  <h1 style="font-weight: 600;">Your Places</h1>
  <p style="font-size: 20px">Find all your saved places here</p>
</div>

<div class="container d-flex justify-content-center mt-5" >



  <div class="accordion" id="accordionExample" style=" margin-right: 30px; margin-bottom: 13px;
">

  <h1 class="text-center" style="background-color: #ffc107;">Saved locations</h1>
    <% @places.each do |place| %>






      <div class="accordion-item" style="margin-bottom: 10px;">
        <h2 class="accordion-header" id="heading<%= place.id %>">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= place.id %>" aria-expanded="true" aria-controls="collapse<%= place.id %>">
            <%= place.name %>
          </button>
        </h2>
        <div id="collapse<%= place.id %>" class="accordion-collapse collapse in" aria-labelledby="heading<%= place.id %>" data-bs-parent="#accordionExample">
          <div class="accordion-body">




            <% place.cares.each do |care| %>
              <%= link_to care.title, care_path(care) %>
            <% end %>





          </div>
        </div>
      </div>



    <% end %>
    <%= link_to 'Add a place', places_new_path, class:"btn btn-danger", style: 'margin: 5px 138px;'  %>

  </div>




  <div id='map' style='width: 600px; height: 400px; border-radius: 12px;'
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
