<br><br>
<div class="container mb-3">
  <%= simple_form_for @place do |f| %>
    <div class="form-inputs">
      <div class="form-field">
        <%= f.association :care, label: 'Care 👇', collection: Care.all %>
        <%= f.input :name %>


        <div id='map' style='width: 600px; height: 300px;'
          data-controller="address-autocomplete"
          data-address-autocomplete-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          <% f.input :address, input_html: {data: {address_autocomplete_target: "address"}} %>
          <% f.input :longitude, input_html: {data: {address_autocomplete_target: "longitude"}} %>
          <% f.input :latitude, input_html: {data: {address_autocomplete_target: "latitude"}} %>
        </div>

      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit, 'Set!', class: 'btn btn-info mt-3' %>
    </div>
  <% end %>
</div>
